<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
    <style>
         .am-form-group {
            margin: 10px 13px;
        }
    </style>
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">参数管理</a></li>
        <li class="am-active">修改品种</li>
    </ol>
    <form class="am-cf" id="form" onsubmit="return false">
        <div class="widget am-cf">
            <hr data-am-widget="divider" class="am-divider am-divider-default"/>
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd">修改品种信息</div>
                <br>
                <div class="am-form-group">
                    <span class="s1">交易所名称：</span>
                    <input type="hidden" name="id" value="{$list.id??''}"/>
                    <label class="am-form-label">
                        <select name="bourse" id="bourse" title="" class="am-form-field am-input-sm">
                            {volist name="exchange" id="vo" empty="$empty"}
                            {if condition="$vo['id'] == $list['bourse']"}
                            <option selected value="{$vo.id}" class="am-form-field am-input-sm">{$vo.name}</option>
                            {else /}
                            <option value="{$vo.id}" class="am-form-field am-input-sm">{$vo.name}</option>
                            {/if}
                            {/volist}
                        </select>
                    </label>
                    <span style="color: red">(<--点击选择交易所)</span>
                </div>
                <div class="am-form-group">
                    <span class="s1">品种名称：　</span>
                    <label class="am-form-label">
                        <input type="text" id="name" class="am-form-field am-input-sm" name="name"
                               value="{$list['name']}"/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">代码：　　</span>
                    <label class="am-form-label">
                        <input type="text" id="code" class="am-form-field am-input-sm" name="code"
                               value="{$list['code']}"/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">短码：　　</span>
                    <label class="am-form-label">
                        <input type="text" id="short" class="am-form-field am-input-sm" name="short"
                               value="{$list['short']}"/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">类型：　　</span>
                    <label class="am-form-label">
                        <input type="text" id="industry" class="am-form-field am-input-sm" name="industry"
                               value="{$list['industry']}"/>
                    </label>
                </div>
                <div class="am-panel-bd" style="padding-bottom: 1rem;margin-left: 13rem">
                    <button type="submit" class="am-btn am-btn-primary am-btn-sm" onclick="sub() ">确定</button>
                    <a href="index.html" class="am-btn am-btn-secondary am-btn-sm">返回</a>
                </div>
            </div>
            {include file="public/content_foot" /}
        </div>
    </form>
    {include file="public/foot" /}
    <script type="text/javascript">
        function sub() {
            var arr = parseFormJson("#form");
            $.ajax({
                url: "{:url('Transaction/update_edit')}",
                data: {arr: arr},
                type: "post",
                success: function (r) {
                    // console.log(r);
                    // return false;
                    if (r['code'] == 1) {
                        alert_msg(r['msg']);
                    } else {
                        alert_msg(r['msg']);
                    }
                }
            });

        }

        function sub_fied() {
            var arr = parseFormJson("#form");
            if (arr.reid == "") {
                alert_open("请输入推荐人信息,或填无");
            } else if (arr.reid != "无") {
                $.ajax({
                    url: "{:url('Users/p_name')}",
                    data: {arr: arr.reid},
                    type: "post",
                    success: function (r) {
                        if (r['code'] == 1) {
                            //alert_open(r['msg']);
                            document.getElementById("p_names").value = r['msg'];
                            document.getElementById("p_name").style.display = "inline";
                        } else {
                            alert_msg(r['msg']);
                            document.getElementById("reid").value = "";
                            document.getElementById("p_name").style.display = "none";
                        }

                    }
                });
            } else if (arr.reid == "无") {
                document.getElementById("p_name").style.display = "none";
            }
        }
    </script>
</div>
</body>
</html>
