<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">会员管理</a></li>
        <li class="am-active">账户信息</li>
    </ol>
    <div class="am-form-inline" role="form">
        <span>日期范围：</span>
        <div class="am-form-group ">
            <input type="text" class="am-form-field am-input-sm" name="start" placeholder="请选择起始日期"
                   data-am-datepicker onfocus="this.blur()" value="{$arr.start_query}"/>
        </div>
        <div class="am-form-group ">
            <input type="text" class="am-form-field am-input-sm" name="end" placeholder="请选择结束日期" data-am-datepicker
                   onfocus="this.blur()" value="{$arr.end_query}"/>
        </div>
        <div class="am-form-group ">
            <input type="text" id="name" class="am-form-field am-input-sm" placeholder="请输入名称或手机号"
                   value="{$arr.name}"/>
        </div>
        <button type="button" class="am-btn am-btn-primary am-btn-sm" onclick="info_query()">查询</button>
        <button type="button" class="am-btn am-btn-warning am-btn-sm" onclick="clear_query()">清除查询</button>
        <!-- ,array('excel'=>1,'name'=>$name,'start_query'=>$start_query,'end_query'=>$end_query)) -->
        <!--<a href="{:url('index')}?excel=1&name={$name}&start_query={$start_query}&end_query={$end_query}">导出Excel表格</a>-->
    </div>
    <div class="widget am-cf">
        <hr data-am-widget="divider" class="am-divider am-divider-default"/>
        <div class="widget-body widget-body-lg am-fr">
            <div class="am-scrollable-horizontal">
                <table class="{$table}">
                    <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户信息</th>
                        <th>账号余额</th>
                        <th>昨日收益</th>
                        <th>冻结保证金</th>
                        <th>平仓盈亏</th>
                        <th>提现金额</th>
                        <th>提现手续费</th>
                        <th>累计充值</th>
                        <th>交易金额</th>
                        <th>交易手续费</th>
                        <th>用户推广费</th>
                        <th>过夜费</th>
                        <th>代理id</th>
                        <th>注册时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo" empty="$empty"}
                    <tr>
                        <td>{$vo.uid}</td>
                        <td>{$vo.user.name}-{$vo.user.phone}</td>
                        <td>{$vo.account}</td>
                        <td>{$vo.yesterday}</td>
                        <td>{$vo.bond}</td>
                        <td>{$vo.profit_total}</td>
                        <td>{$vo.wit_total}</td>
                        <td>{$vo.wit_fee}</td>
                        <td>{$vo.rec_total}</td>
                        <td>{$vo.trade_total}</td>
                        <td>{$vo.fee_total}</td>
                        <td>{$vo.push_total}</td>
                        <td>{$vo.server_total}</td>
                        <td>{$vo.agent}</td>
                        <td>{$vo.time}</td>
                    </tr>
                    {/volist}
                    <tr>
                        <th colspan="2">总额:</th>
                        <th>{$sum['sum_account']}</th>
                        <th>{$sum['sum_yesterday']}</th>
                        <th>{$sum['sum_bond']}</th>
                        <th>{$sum['sum_profit_total']}</th>
                        <th>{$sum['sum_wit_total']}</th>
                        <th>{$sum['sum_wit_fee']}</th>
                        <th>{$sum['sum_rec_total']}</th>
                        <th>{$sum['sum_trade_total']}</th>
                        <th>{$sum['sum_fee_total']}</th>
                        <th>{$sum['sum_push_total']}</th>
                        <th>{$sum['sum_server_total']}</th>
                        <th colspan="4">/</th>
                    </tr>
                    </tbody>
                </table>
                <div class="dataTables_info" id="DataTables_Table_1_info">
                    <div class="am-pagination-left">{$page}</div>
                </div>
            </div>
        </div>
        {include file="public/content_foot" /}
    </div>
    <form action="{:url('Users/userAccount')}" class="am-form-inline" role="form" id="form" method="get">
        <input type="hidden" name="name"/>
        <input type="hidden" name="start_query">
        <input type="hidden" name="end_query">
        <input type="hidden" name="status">
        <input type="hidden" name="page">
    </form>
    {include file="public/foot" /}
    <script type="text/javascript">
        $(function () {
            var nav = $('.left-sidebar li.sidebar-nav-link');
            nav.removeClass("active");
            nav.eq({$a}).find('ul').show();
            nav.eq({$a}).find('ul li').eq({$b}).find('a').addClass('active');
        });

        function sub(id) {
            $.ajax({
                url: "{:url('Users/edit')}",
                type: "post",
                data: {id: id},
                success: function (r) {
                    if (r['code'] == 1) {
                        layer.msg(r['msg']);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        layer.msg(r['msg']);
                    }
                }
            });
        }
    </script>
</body>
</html>
