<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
    {include file="public/form" /}
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb" style="    margin-bottom: 0;">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">内容管理</a></li>
        <li class="am-active">修改用户信息</li>
    </ol>
    <div class="widget am-cf">
        <form class="am-cf" id="user_edit_form" onsubmit="return false">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd">基础信息</div>
                <div class="am-form-group">
                    <span class="s1">名称：</span>
                    <label class="am-form-label">
                        <input type="text" id="real_name" class="am-form-field am-input-sm" name="real_name"
                               value="{$list['real_name']}"/>
                    </label>
                </div>

                <input type="hidden" id="tireal_nametle" class="am-form-field am-input-sm" name="id"
                       value="{$list['id']}"/>
                <div class="am-form-group">
                    <span class="s1">身份证号：</span>
                    <label class="am-form-label">
                        <input type="text" id="card" class="am-form-field am-input-sm" name="card"
                               value="{$list['card']}" placeholder=""/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">手机号</span>
                    <label class="am-form-label">
                        <input type="text" id="phone" class="am-form-field am-input-sm" name="phone"
                               value="{$list['phone']}" placeholder=""/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">密码：</span>
                    <label class="am-form-label">
                        <input type="password" id="password" class="am-form-field am-input-sm" name="password" value=""
                               placeholder=""/>

                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">交易密码：</span>
                    <label class="am-form-label">
                        <input type="password" id="trade_password" class="am-form-field am-input-sm" name="security"
                               value="" placeholder=""/>

                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">账号类型：</span>
                    <label class="am-form-label">
                        <select name="type" title="" class="am-form-field am-input-sm">
                            <option value="1" class="am-form-field am-input-sm">行情账户</option>
                            <option value="2" class="am-form-field am-input-sm">交易账户</option>
                        </select>

                    </label>
                </div>
                <div class="am-panel-bd" style="padding-bottom: 1rem;margin-left: 13rem">
                    <button type="submit" class="am-btn am-btn-primary am-btn-sm" onclick="sub() ">确定</button>
                    <a href="index.html" class="am-btn am-btn-secondary am-btn-sm">返回</a>
                </div>
            </div>
    </div>
    </form>
</div>
</div>
{include file="public/foot" /}
<script type="text/javascript" src="/static/ajaxupload.js"></script>
<script type="text/javascript">
    $(function () {
        var nav = $('.left-sidebar li.sidebar-nav-link');
        nav.removeClass("active");
        nav.eq(2).find('ul').show();
        nav.eq(2).find('ul li').eq(0).find('a').addClass('active');
    });

    function sub() {
        var arr = parseFormJson("#user_edit_form");
        $.ajax({
            url: "{:url('Users/user_edits')}",
            data: {arr: arr},
            type: "post",
            success: function (r) {
                if (r['code'] == 1) {
                    alert_msg(r['msg']);
                } else {
                    alert_msg(r['msg']);
                }
            },
            error: function (r) {
                console.log(r);
            },
        });
    }
</script>

</body>
</html>