<script type="text/javascript" charset="utf-8" src="/static/ud/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ud/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ud/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    UE.getEditor('content', {
        autoHeight: true,
        toolbars: [
            [
                'anchor', 'undo', 'redo', 'bold', 'indent', 'italic', 'underline', 'strikethrough', 'subscript',
                'fontborder', 'superscript', 'formatmatch', 'blockquote', 'pasteplain', 'selectall', 'horizontal',
                'removeformat', 'time', 'date', 'unlink', 'inserttitle', 'cleardoc', 'insertcode', 'fontfamily',
                'fontsize', 'paragraph', 'simpleupload', 'edittable', 'edittd', 'link', 'spechars', 'searchreplace',
                'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'forecolor', 'backcolor',
                'insertorderedlist', 'insertunorderedlist', 'directionalityltr', 'directionalityrtl', 'rowspacingtop',
                'rowspacingbottom', 'insertframe', 'imagenone', 'imageleft', 'imageright', 'attachment', 'imagecenter',
                'lineheight', 'edittip ', 'customstyle', 'autotypeset', 'touppercase', 'tolowercase', 'background'
            ]
        ]
    });
</script>