<div class="left-sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-link">
            <a href="../home/index.html">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-money sidebar-nav-link-logo"></i> 代理商管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../agents/index.html?a=1&b=0">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 代理资料
                    </a>
                </li>
                <li>
                    <a href="../agents/customer.html?a=1&b=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 客户资料
                    </a>
                </li>
                <li>
                    <a href="../agents/second.html?a=1&b=2">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 下级代理商
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-cogs sidebar-nav-link-logo"></i> 账户管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../withdraws/index.html?a=2&b=0">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户提现
                    </a>
                </li>
                <li>
                    <a href="../recharges/index.html?a=2&b=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户充值
                    </a>
                </li>
                <li>
                    <a href="../users/userAccount.html?a=2&b=2">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 账户信息
                    </a>
                </li>
                <!--<li>-->
                <!--<a href="../admins/functions.html">-->
                <!--<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 注册账户-->
                <!--</a>-->
                <!--</li>-->
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 财务管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../withdraws/apply.html?a=3&b=0">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 申请提现
                    </a>
                </li>
                <li>
                    <a href="../withdraws/history.html?a=3&b=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 历史申请
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-first-order sidebar-nav-link-logo"></i> 实时监控
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../orders/depot.html?a=4&b=0">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 持仓记录
                    </a>
                </li>
                <li>
                    <a href="../users/userAccount.html?a=4&b=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 资金监控
                    </a>
                </li>
                <li>
                    <a href="../orders/deal.html?a=4&b=2">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 成交记录
                    </a>
                </li>
                <li>
                    <a href="../orders/close.html?a=4&b=3">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 平仓记录
                    </a>
                </li>
                <!--<li>-->
                <!--<a href="../admins/functions.html">-->
                <!--<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线监控-->
                <!--</a>-->
                <!--</li>-->
            </ul>
        </li>
        <!--
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class=" am-icon-table sidebar-nav-link-logo"></i> 报表管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../admins/index.html?a=1&b=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 持仓记录
                    </a>
                </li>
                <li>
                    <a href="../admins/role.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 报表管理
                    </a>
                </li>
                <li>
                    <a href="../admins/functions.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 仓单
                    </a>
                </li>
                <li>
                    <a href="../admins/functions.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 资金流水
                    </a>
                </li>
                <li>
                    <a href="../admins/functions.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 持仓查询
                    </a>
                </li>
                <li>
                    <a href="../admins/functions.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 平仓查询
                    </a>
                </li>
                <li>
                    <a href="../admins/functions.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 客户交易明细
                    </a>
                </li>
            </ul>
        </li>
        -->
    </ul>
</div>