<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">休市管理</a></li>
        <li class="am-active">休市列表</li>
        <li><a href="closed_edit?a={$a}&b={$b}">新增休市</a></li>
    </ol>
    <div class="am-form-inline" role="form">
        <span>日期范围：</span>
        <div class="am-form-group ">
            <input type="text" class="am-form-field am-input-sm" name="start" placeholder="请选择起始日期"
                   data-am-datepicker onfocus="this.blur()" value="{$arr.start_query}"/>
        </div>
        <div class="am-form-group ">
            <input type="text" class="am-form-field am-input-sm" name="end" placeholder="请选择结束日期" data-am-datepicker
                   onfocus="this.blur()" value="{$arr.end_query}"/>
        </div>
        <div class="am-form-group ">
            <input type="text" id="name" class="am-form-field am-input-sm" placeholder="请输入品种代码/名称"
                   value="{$arr.name}"/>
        </div>
        <button type="button" class="am-btn am-btn-primary am-btn-sm" onclick="info_query()">查询</button>
        <button type="button" class="am-btn am-btn-warning am-btn-sm" onclick="clear_query()">清除查询</button>
    </div>
    <hr data-am-widget="divider" class="am-divider am-divider-default"/>
    <div class="widget-body widget-body-lg am-fr">
        <div class="am-scrollable-horizontal">
            <table class="{$table}">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>交易所信息</th>
                    <th>品种信息</th>
                    <th>休市开始时间</th>
                    <th>休市结束时间</th>
                    <th>备注</th>
                    <!--<th>添加时间</th>-->
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="list">
                {volist name="list" id="vo" empty="$empty"}
                <tr class="text-c">
                    <td>{$vo.id}</td>
                    <td><a href="closed_edit.html?id={$vo.id}&a={$a}&b={$b}">{$vo.exchange_text}</a></td>
                    <td><a href="closed_edit.html?id={$vo.id}&a={$a}&b={$b}">{$vo.code}/{$vo.name}</a></td>
                    <td>{$vo.start_time}</td>
                    <td>{$vo.end_time}</td>
                    <td>{$vo.explain}</td>
                    <!--<td>{$vo.time}</td>-->
                    <td>{$vo.status_text}</td>
                    <td>
                        <a href="#" onclick='return del(id="{$vo.id}");' class="am-btn am-btn-warning am-btn-xs">删除</a>
                        <a href="closed_edit.html?id={$vo.id}&a={$a}&b={$b}"
                           class="am-btn am-btn-success am-btn-xs">修改</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="am-pagination-left">{$page}</div>
        </div>
    </div>
</div>
</div>
<form action="{:url('System/closed')}" class="am-form-inline" role="form" id="form" method="get">
    <input type="hidden" name="name"/>
    <input type="hidden" name="start_query">
    <input type="hidden" name="end_query">
    <input type="hidden" name="status">
    <input type="hidden" name="page">
</form>
{include file="public/foot" /}
<script type="text/javascript">
    function del(id) {
        if (confirm("确定要删除吗？")) {
            $.ajax({
                url: "{:url('System/closed_del')}",
                data: {id: id},
                type: "post",
                success: function (r) {
                    if (r['code'] == 1) {
                        alert_msg(r['msg']);
                        location.href = "{:url('System/closed')}";
                    } else {
                        alert_msg(r['msg']);
                    }
                }
            });
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
