<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
    {include file="public/form" /}
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb" style="    margin-bottom: 0;">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">添加代理</a></li>
    </ol>
    <div class="widget am-cf">
        <form class="am-cf" id="form" onsubmit="return false">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd">基础信息</div>
                <div class="am-panel-bd">
                    <input type="hidden" name="id" value="{$list.id}" />
                    <div class="am-form-group">
                        <span class="s1">所属代理：</span>
                        <label class="am-form-label">
                            <select name="agent" title="" class="am-form-field am-input-sm">
                                {if condition="($list['agent'])=='' || ($list['agent'])==0"}
                                <option value="0">--无上级代理--</option>
                                {else/}
                                {/if}
                                {foreach $agents as $val}
                                {if condition ="($list['agent'])==($val['id'])"}
                                <option selected value="{$val['id']}">{$val.name}</option>
                                {else/}
                                <option value="{$val['id']}">{$val.name}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">代理编号：</span>
                        <label class="am-form-label">
                            <input type="text" id="number" class="am-form-field am-input-sm" name="number"
                                   value="{$list.number}" placeholder="请输入代理编号"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">登录密码：</span>
                        <label class="am-form-label">
                            <input type="password" id="password" class="am-form-field am-input-sm" name="password"
                                   placeholder="请输入登录密码"/>
                        </label>
                        <span class="s2">(默认密码123456/为空不修改)</span>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">名称：</span>
                        <label class="am-form-label">
                            <input type="text" id="name" class="am-form-field am-input-sm" name="name"
                                   value="{$list.name}" placeholder="请输入名称"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">代理状态：</span>
                        <label class="am-form-label">
                            <select name="status" title="" class="am-form-field am-input-sm">
                                <option value="">请选择</option>
                                {if condition ="$list.status eq 0"}
                                <option value="0" selected>禁用</option>
                                {else/}
                                <option value="0">禁用</option>
                                {/if}
                                {if condition ="$list.status eq 1"}
                                <option value="1" selected>启用</option>
                                {else/}
                                <option value="1">启用</option>
                                {/if}
                            </select>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">提现银行卡号：</span>
                        <label class="am-form-label">
                            <input type="text" id="bank_card" class="am-form-field am-input-sm" name="bank_card"
                                   value="{$list.bank_card}" placeholder="请输入银行卡号"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">开户号：</span>
                        <label class="am-form-label">
                            <input type="text" id="bank_account" class="am-form-field am-input-sm" name="bank_account"
                                   value="{$list.bank_account}" placeholder="请输入开户号"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">开户行：</span>
                        <label class="am-form-label">
                            <input type="text" id="bank_name" class="am-form-field am-input-sm" name="bank_name"
                                   value="{$list.bank_name}" placeholder="请输入开户行"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">开户分行：</span>
                        <label class="am-form-label">
                            <input type="text" id="bank_address" class="am-form-field am-input-sm" name="bank_address"
                                   value="{$list.bank_address}" placeholder="请输入开户分行"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">联系人姓名：</span>
                        <label class="am-form-label">
                            <input type="text" id="real_name" class="am-form-field am-input-sm" name="real_name"
                                   value="{$list.real_name}" placeholder="请输入联系人姓名"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">联系人电话：</span>
                        <label class="am-form-label">
                            <input type="text" id="phone" class="am-form-field am-input-sm" name="phone"
                                   value="{$list.phone}" placeholder="请输入联系人电话"/>
                        </label>
                    </div>
                    <div class="am-form-group">
                        <span class="s1">返佣预留设置：</span>
                        <label class="am-form-label">
                            <input type="text" id="fee_ratio" class="am-form-field am-input-sm" name="fee_ratio"
                                   value="{$list.fee_ratio}" placeholder="请输入返佣预留"/>
                        </label>
                        <!--<span class="s2">1=100%</span>-->
                    </div>
                    <div class="am-form-group">
                        <span class="s1">备注：</span>
                        <label class="am-form-label">
                            <input type="text" id="remake" class="am-form-field am-input-sm" name="remake"
                                   value="{$list.remake}" placeholder="请输入备注"/>
                        </label>
                    </div>
                    <div class="am-panel-bd" style="padding-bottom: 1rem;margin-left: 13rem">
                        <button type="submit" class="am-btn am-btn-primary am-btn-sm" onclick="sub()">确定</button>
                        <a href="index.html" class="am-btn am-btn-secondary am-btn-sm">返回</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/foot" /}
<script type="text/javascript">
    function sub() {
        var arr = parseFormJson("#form");
        $.ajax({
            url: "{:url('Agents/agent_adds')}",
            data: {arr: arr},
            type: "post",
            success: function (r) {
                if (r['code'] == 1) {
                    alert_open(r['msg'])
                } else {
                    alert_msg(r['msg']);
                }
            }
        });
    }
</script>
</body>
</html>